@charset "UTF-8";

body {
    font-family: sans-serif;
    margin: 0;
    background: #ffffff;
}

header {
    color: white;
    text-align: center;
    padding: 20px;
}

h1 {
    margin-top: -99px;
    font-size: 3rem;
}

main {
    width: 90%;
    margin: auto;
}

section {
    margin: 30px 0;
}

h2 {
    border-left: 6px solid #2e8b57;
    padding-left: 10px;
    font-size: 3rem;
}

p {
    line-height: 1.6;
    font-size: 2rem;
}



img.title {
    width: 134%;
    max-width: 984px;
    max-height: 376px;
    display: block;
    margin: -19px -20px;
}

img.bord {
    max-width: 893px;
}

img.zon {
    width: 859px;
}

.top {
    text-align: right;
    margin-top: 30px;
}

a {
    color: #1e90ff;
    text-decoration: none;
}

img{
    width: 55rem;
    height: 36rem;
}

/*--- デスクトップ版--- */
@media(min-width:800px){
body {
    font-family: sans-serif;
    margin: 0;
    background: #ffffff;
}

header {
    color: white;
    text-align: center;
    padding: 20px;
}

h1 {
    margin-top: -99px;
    font-size: 3rem;
}

main {
    width: 90%;
    margin: auto;
}

section {
    margin: 30px 0;
}

h2 {
    border-left: 6px solid #2e8b57;
    padding-left: 10px;
    font-size: 3rem;
}

p {
    line-height: 1.6;
    font-size: 2rem;
}



img.title {
    width: 134%;
    max-width: 1315px;
    max-height: 376px;
    display: block;
    margin: -19px -20px;
}

img.bord {
    max-width: 893px;
}

img.zon {
    width: 859px;
}

.top {
    text-align: right;
    margin-top: 30px;
}

a {
    color: #1e90ff;
    text-decoration: none;
}

img{
    width: 73rem;
    height: 36rem;
}

}